{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div class="card">
        <div class="row">
            <div class="col-9">
                <p class="mt-3 ms-2 mb-3 h5">Сортировка: {# TODO: сортировка по дате, названию, цене #}</p>
            </div>
            <div class="col-3">
                <p class="mt-3 mb-3 h5">Фильтры</p>
            </div>
        </div>
        <div class="row">
            {% block games_content %}{% endblock %}
            <div class="col-3">
                {# TODO: фильрация по платформе и по разработчику #}
            </div>
        </div>
    </div>
{% endblock %}