{% extends 'base.html' %}

{% from 'macros.html' import sort_elem, filter_developer_elem, filter_platform_elem %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div class="card mb-3">
    <div class="card-body">
        <div class="row">
            {% block games_header %}
                <div class="col-9">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle ms-2 mb-3"
                                 type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Сортировка
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {{ sort_elem('alphabet', 'По алфавиту') }}
                            {{ sort_elem('cheap', 'Сначала дешевые') }}
                            {{ sort_elem('expensive', 'Сначала дорогие') }}
                            {{ sort_elem('new', 'Сначала новые') }}
                            {{ sort_elem('old', 'Сначала старые') }}
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <p class="mb-3 h5">Фильтры</p>
                </div>
            {% endblock %}
        </div>
        <div class="row">
            {% block games_content %}{% endblock %}
            <div class="col-3">
                {% block games_side %}
                    <div class="accordion accordion-flush" id="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                    По платформе
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="flush-headingOne">
                                <div class="accordion-body">
                                    {% for platform in platforms %}
                                        {{ filter_platform_elem(platform.platform) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false" aria-controls="flush-collapseTwo">
                                    По разработчику
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse show"
                                 aria-labelledby="flush-headingTwo">
                                <div class="accordion-body">
                                    {% for developer in developers %}
                                        {{ filter_developer_elem(developer.developer) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        $('#' + params.order).addClass('active');
    </script>
{% endblock %}