{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div class="card mb-3">
    <div class="card-body">
        <div class="row">
            {% block games_header %}
                <div class="col-9">
                    <p class="ms-2 mb-3 h5">Сортировка: {# TODO: сортировка по дате, названию, цене #}</p>
                </div>
                <div class="col-3">
                    <p class="mb-3 h5">Фильтры</p>
                </div>
            {% endblock %}
        </div>
        <div class="row">
            {% block games_content %}{% endblock %}
            <div class="col-3">
                {% block games_side %}
                    {# TODO: фильрация по платформе и по разработчику #}
                {% endblock %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}