{% extends 'games/base.html' %}

{% from 'macros.html' import icon %}

{% block title %}Избранное{% endblock %}

{% block games_header %}
    <h2 class="card-title">Избранное</h2>
    <hr>
    {{ super() }}
{% endblock %}

{% block games_content %}
    <div class="col-9">
        <div class="card-body ps-2 pt-0">
            {% for game, in_cart in games %}
                <div class="card mb-3 pointer" id=game{{ game.id }}
                     onclick="window.location='{{ url_for('.game', game_id=game.id) }}'">
                    <div class="row g-0">
                        <div class="col-3 align-self-center">
                            <img src="/{{ game.photo }}" class="rounded fav-game"
                            alt="{{ game.title }}">
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <p class="card-text">{{ game.title }}</p>
                                <button type="button" class="close position-absolute top-0 end-0
                                mt-3 me-3" id="game_close_{{ game.id }}">
                                    {{ icon('fa6-solid:trash-can') }}
                                </button>
                                <p class="card-text bold position-absolute bottom-0 mb-4">
                                    {{ game.price }} ₽
                                </p>
                                <div class="position-absolute bottom-0 end-0 me-3 mb-3
                                d-flex align-items-center">
                                    {% if in_cart %}
                                        <button type="button" class="btn btn-dark go-cart"
                                                onclick="window.location='{{ url_for('.cart') }}'">
                                            Посмотреть в корзине
                                        </button>
                                    {% else %}
                                        <input class="game-count me-2 text-center" type="number"
                                               min="1" value="1" max="{{ game.in_stock }}"
                                               id="game_count_{{ game.id }}">
                                        <button type="button" class="btn btn-dark to-cart"
                                        id="to_cart_{{ game.id }}">
                                            Добавить в корзину
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        $(".game-count").click(function (e) {
            e.stopImmediatePropagation();
        });

        $(".go-cart").click(function (e) {
            e.stopImmediatePropagation();
        });

        $(".close").on('click', function (e) {
            e.stopPropagation();
            $(this).prop('disabled', true);
            setTimeout(function () {
                $(this).prop('disabled', false);
            }.bind(this), 1000);

            let game_id = this.id.substring(11);
            let data = {'checked': true, 'game_id': game_id};

            $('#game' + game_id).css({'opacity': 0, 'transition': '1s'});
            setTimeout(function () {
                $('#game' + game_id).css('display', 'none');
            }, 1000);

            $.ajax({
                url: "{{ url_for('.change_favorite') }}",
                method: 'get',
                dataType: 'html',
                data: data,
            });
        })

        $(".to-cart").on('click', function (e) {
            e.stopPropagation();

            let game_id = this.id.substring(8);
            let input_count = $('#game_count_' + game_id);
            let count = input_count.val();
            if (!input_count[0].checkValidity()) {
                input_count.css('border-color', 'red');
                return;
            }
            let data = {'checked': false, 'game_id': game_id, 'count': count};

            input_count.css('display', 'none');
            $(this).text('Посмотреть в корзине');
            $(this).attr('onclick', "window.location='{{ url_for('.cart') }}'");

            $.ajax({
                url: "{{ url_for('.change_cart') }}",
                method: 'get',
                dataType: 'html',
                data: data,
            });
        })
    </script>
{% endblock %}