<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Интернет-магазин видеоигр">
    {% block styles %}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="../static/css/style.css">
    {% endblock %}
    <title>{% block title %}Gamer Paradise{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}?">
</head>

<body>
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block flash %}
    {% from 'bootstrap5/utils.html' import render_messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3">
                {{ render_messages(dismissible=True) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='images/favicon.ico') }}"
                     alt="Gamer Paradise" class="rounded img-thumbnail ms-3">
            </div>
            <div class="h4 float-left col-md-6 ms-3">
                <strong>Gamer Paradise</strong> - это интернет-магазин видеоигр для различных
                платформ: PC, Playstation, Xbox и других
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ bootstrap.load_js() }}
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.1/dist/iconify-icon.min.js"></script>
{% endblock %}

</body>
</html>