{% from 'macros.html' import icon, nav_link %}

<nav class="navbar navbar-dark bg-dark navbar-expand-xl p-2 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white me-5" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/gamer_paradise_icon.png') }}"
                 width="30" height="30" alt="Gamer Paradise"
                 class="align-text-top me-2">Gamer Paradise
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav d-inline-flex">
                {{ nav_link('Товары', 'clarity:shopping-bag-solid', href=url_for('games.index')) }}
                {{ nav_link('Избранное', 'mdi:cards-heart', href=url_for('games.favorites')) }}
                {{ nav_link('Корзина', 'clarity:shopping-cart-solid', href=url_for('games.cart')) }}
                {% if current_user.is_authenticated and current_user.user.role == 'admin' %}
                    {{ nav_link('Добавить товар', 'material-symbols:add-business-rounded',
                    'text-nowrap', url_for('games.add')) }}
                {% endif %}
            </div>
            <form action="{{ url_for('games.index') }}"
                  class="d-flex ms-auto my-2" role="search">
                <input class="form-control me-2 form-control-dark text-white w-auto" name="search"
                       type="search" placeholder="Поиск товаров" aria-label="Search"
                       value="{{ request.args.get('search', '') }}">
                <input type="hidden" name="order" value="{{ request.args.get('order') }}">
                {% for platform in request.args.getlist('platform') %}
                    <input type="hidden" name="platform" value="{{ platform }}">
                {% endfor %}
                {% for developer in request.args.getlist('developer') %}
                    <input type="hidden" name="developer" value="{{ developer }}">
                {% endfor %}
                <button class="btn btn-outline-secondary icon me-3">
                    {{ icon('fa-solid:search') }}
                </button>
            </form>
            <button class="btn btn-light me-2 my-2" type="button"
                    {% if current_user.is_authenticated %}
                        onclick="window.location='{{ url_for('profile.index') }}'">
                        {{ icon('fa-solid:user', 'profile-icon') }}
                        {{ current_user.user.name|default('Профиль', True) }}
                    {% else %}
                        onclick="window.location='{{ url_for('auth.register') }}'">
                        {{ icon('fa:user-plus', 'profile-icon') }} Зарегистрироваться
                    {% endif %}
            </button>
            <button class="btn btn-outline-light me-2" type="button"
                {% if current_user.is_authenticated %}
                    onclick="window.location='{{ url_for('auth.logout') }}'">
                    {{ icon('mdi:logout', 'profile-icon') }} Выйти
                {% else %}
                    onclick="window.location='{{ url_for('auth.login') }}'">
                    {{ icon('mdi:login', 'profile-icon') }} Войти
                {% endif %}
            </button>
        </div>
    </div>
</nav>